@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --font-family: 'Outfit', sans-serif;
    --font-size: 1.125rem;
    --font-weight-1: 300;
    --font-weight-2: 400;
    --font-weight-3: 600;


    --margin-a: 1rem;
    --margin-b: 2rem;
    --Margin-c: 3rem;

    --padding-a: 0.5rem;
    --padding-b: 1.5rem;
    --padding-c: 2.5rem;

    --border-radius: 0.8rem;

    --clr-primary-blue-500: hsl(215, 51%, 70%);
    --clr-primary-cyan-400: hsl(178, 100%, 50%);
    --clr-primary-cyan-opacity-400: hsl(178, 100%, 50%, 50%);

    --clr-neutral-blue-950-mainBG: hsl(217, 54%, 11%);
    --clr-neutral-blue-900-cardBG: hsl(216, 50%, 16%);
    --clr-neutral-blue-800-line: hsl(215, 32%, 27%);
    --clr-neutral-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: inline-block;
    max-width: 100%;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background: var(--clr-neutral-blue-950-mainBG);
    color: var(--clr-primary-blue-500);
    font-weight: var(--font-weight-1);
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    max-width: 20em;
    /* margin-inline: auto; */
    margin-block-start: var(--padding-a);
    margin-block-end: var(--margin-a);
    padding: var(--padding-b);
    background-color: var(--clr-neutral-blue-900-cardBG);
    border-radius: var(--border-radius);
}

.card-image {
    position: relative;
}

.card-image img {
    border-radius: var(--border-radius);
}

.overlay {
    position: absolute;
    inset: 0;
    padding: 45%;
    background: var(--clr-primary-cyan-opacity-400);
    opacity: 0;
}

.overlay:hover {
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

h1 {
    font-size: 1.6rem;
    font-weight: var(--font-weight-2);
    color: var(--clr-neutral-white);
    margin: var(--margin-a) 0;
    display: inline-block;
}

h1:hover {
    color: var(--clr-primary-cyan-400);
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.about {
    line-height: 1.6;
    margin-block-end: var(--margin-a);
}

.flex {
    display: flex;
    align-items: center;
}

.balance {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.balance > * {
    gap: 0.5rem;
}

.bal-amount {
    color: var(--clr-primary-cyan-400);
    font-weight: var(--font-weight-2);
}

hr {
    border: none;
    width: 100%;
    height: 0.0625rem;
    margin: var(--margin-a) 0;
    background: var(--clr-neutral-blue-800-line);

}

.user-details {
    display: flex;
    gap: 1.2rem;
    align-items: center;
}

.user-details img {
    max-width: 2.2em;
    border: 0.0625rem solid var(--clr-neutral-white);
    border-radius: 50%; 
}

span {
    color: var(--clr-neutral-white);
}

.user-details span:hover {
    color: var(--clr-primary-cyan-400);
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.attribution {
    gap: 1rem;
    font-weight: var(--font-weight-1);
    display: flex;
    flex-direction: column;
    text-align: center;  
}

.attribution a {
    color: var(--clr-primary-blue-500);
    text-decoration: none;
}

.attribution a:hover {
    color: var(--clr-primary-cyan-400);
    text-decoration: underline;
}



@media (min-width: 45rem) {
    .container {
        justify-content: center;
        height: 100dvh;
    }

    .card {
        max-width: 25rem;
    }

    h1 {
        font-size: 1.5rem;
        margin-block-end: var(--padding-b);
    }
    
    .about {
        font-size: 1.3rem;
        margin-block-end: var(--margin-b);
    }

    hr {
        margin-block-start: var(--margin-b);
    }
    
}